<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block 'title' %}Freelance Finder{% endblock %}</title>
        {% include "header_info.html" %}
        {% block 'extrahead' %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}" id="header-logo" class="logo">FreelanceFinder</a>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'all-links' %}">All</a></li>
                <li><a href="{% url 'all-links' %}">All (2)</a></li>
            </ul>
            <span id="header-account">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="account-info">Login</a>
                {% else %}
                    <a href="{% url 'login' %}" class="account-info">Login</a>
                {% endif %}
            </span>
        </nav>
        <section>
            {% block 'content' %}
            {% endblock %}
        </section>
        <footer>
            &copy; Paul Moss {% now "Y" %}
        </footer>
    </body>
</html>
