<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block 'title' %}Freelance Finder{% endblock %}</title>
        {% include "header_info.html" %}
        {% block 'extrahead' %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-inverse">
                <div class="container-fluid">
                    <a id="header-logo" class="navbar-brand logo" href="{% url 'index' %}">FreelanceFinder</a>
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'all-links' %}">All</a>
                        <a class="nav-item nav-link" href="{% url 'job-list' %}">Job List</a>
                        <a class="nav-item nav-link" href="{% url 'post-list' %}">Post List</a>
                        <a class="nav-item nav-link" href="{% url 'source-list' %}">Source List</a>
                    </div>
                    <div id="header-account" class="pull-right nav navbar-nav">
                        {% if user.is_authenticated %}
                            <!-- AUTH:YES -->
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <!-- AUTH:NO -->
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <section id="messages">
            <div class="container-fluid">
                {% for message in messages %}
                    {% if message.level_tag == "error" %}
                        {# Include alert-error in the response (so the tests will find this
                        and confirm we executed the correct code block) but the actual class to
                        use for this is alert-danger #}
                        <!-- alert-error -->
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section id="content">
            <div class="container-fluid">
                {% block 'content' %}
                {% endblock %} <!-- pragme: no cover -->
            </div>
        </section>
        <footer class="footer">
            <div class="container-fluid">
                <span class="text-muted">
                    &copy; {% now "Y" %} <span class="logo">FreelanceFinder.com</span> - Paul Moss
                </span>
            </div>
        </footer>
    </body>
</html>
