{% extends 'base.html' %}

{% block 'title' %}Freelance Finder - Welcome{% endblock %}

{% block 'content' %}


<div class="jumbotron">
    <h1>Welcome to Freelance Finder!</h1>
    <h5>Filtering the freelance web, so you don't have to.</h5> 
</div>

<div class="container">
    <p>
    There are tons of freelance sites on the internet.  Most of them are full
    of full time positions with a few freelance roles mixed in.  Some of them
    are full of people looking to build the next {% templatetag openvariable %}
    BIG_FAMOUS_SITE {% templatetag closevariable %} with a budget of $200.
    Mixed in with all of that are a few reasonable businesses looking to hire
    freelance workers.  We will sort through the mess so that you don't have
    to.
    </p>
    <p>
    <span class="logo">Freelance Finder</span> aggregates information from tons
    of sites on the internet and then we delete nearly all of it.  All of the
    junk posts and low paying jobs are deleted and you see only the quality
    listings.
    </p>
    <p>
    Save time job hunting every day and use <span class="logo">Freelance
    Finder</span>.
</div>

{% endblock %}
