{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Freelance Finder - Welcome{% endblock %}
{% block 'extrahead' %}
<script src="//checkout.stripe.com/checkout.js"></script>
{% endblock %}

{% block 'content' %}


<div class="jumbotron">
    <h1>Welcome to Freelance Finder!</h1>
    <h5>Filtering the freelance web, so you don't have to.</h5> 
</div>

<div class="container">
<div class="index-copy">
    <p>
    Hi.  I'm Paul Moss.  I'm a product management and web development
    consultant.  This site is my tool to find more work when my clients don't
    have anything to work on.  It can be your tool too.
    <p>
    My problem is that there are tons of freelance/job sites on the internet.
    Most of them are full of full time positions with a few freelance or
    consultant roles mixed in.  Some of them are full of people looking to
    build the next {% templatetag openvariable %} BIG_FAMOUS_SITE 
    {% templatetag closevariable %} with a budget of $200.  Mixed in with all of
    that are a few reasonable businesses looking to hire actual professionals.  I
    sort through all of that to find the postings that seem worthwhile.
    </p>
    <p>
    <span class="logo">Freelance Finder</span> aggregates information from tons
    of sites on the internet and then deletes nearly all of it.  Full time
    jobs: deleted.  Junk posts: deleted.  Unreasonable budgets: deleted.  All
    of the junk is deleted and only the seemingly quality listings remain.
    Then a simple list of the things that seem like possibilities are presented
    in an easy to delete way.  Critically, this process ends.  My goal is not
    to look through everything, but only to look through some things and once
    that is done then the work is done.
    </p>
    <p>
    Even with a network of clients, you still need to do a lot of legwork to
    keep the pipeline of new jobs filled.  If you're busy with clients or a
    digital nomad busy traveling, you don't have to spend time searching for
    your next lead.  Instead of sifting through stale or low quality postings
    to find your next client, save time job hunting every day and simply use
    <span class="logo">Freelance Finder</span>.
    </p>
    <p>
    I aggregate from as many job sites as I can find, but also from twitter,
    google results, emails I get, everything.  My goal is to find the best
    freelance jobs available no matter where they are listed.
    </p>
    <p>
    I'm making this site available to you because I can only do so many jobs
    and I don't have skills in every subject on the planet, but posts looking
    for those skills are still aggregated anyway, and hopefully the work I've
    done can benefit you.
    </p>
    {% if user.is_authenticated %}
    <form id="stripe-payment-form" action="{% url 'accept-payment' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="token" value="nojs">
        <input type="hidden" name="subscription" value="nojs">
    {% else %}
    <form id="stripe-payment-form" action="{% url 'account_login' %}" method="GET">
    {% endif %}
        <div class="pricing-plan">
            <div class="row align-items-center">
                <div class="col text-right">Yearly - $40 / Month:</div>
                <div class="col"><button type="submit" id="stripe-yearly" class="btn btn-primary">{% if user.is_authenticated %}Subscribe{% else %}Sign up{% endif %}</button></div>
            </div>
            <div class="row align-items-center">
                <div class="col text-right">Monthly - $50 / Month:</div>
                <div class="col"><button type="submit" id="stripe-monthly" class="btn btn-primary">{% if user.is_authenticated %}Subscribe{% else %}Sign up{% endif %}</button></div>
            </div>
        </div>
    </form>
    <p>
    If you're looking to hire a product management and 
    Python/Django development consultant, feel free to send me an email <a href="mailto:paul@freelancefinder.work">paul@freelancefinder.work</a> and we can talk.
    </p>
</div>
</div>

{% endblock %}
{% block 'scripts' %}
<script>

{% if user.is_authenticated %}
    function handleStripeToken(token, args) {
        var $payment_form = $('#stripe-payment-form');
        var token_input = $('input[name="token"]', $payment_form).first();
        token_input.val(token.id);
        $payment_form.submit();
    }

    var handler = StripeCheckout.configure({
        key: "{{ stripe_key }}",
        image: "{% static 'images/favicon/favicon-96x96.png' %}",
        name: "FreelanceFinder",
        email: "{{ request.user.email }}",
        panelLabel: "Subscribe",
        token: handleStripeToken,
        allowRememberMe: false,
    });

    $(document).ready(function(){
        $('#stripe-yearly').click(function(e) {
            handler.open({amount: 48000, description: 'Yearly ($480 billed annually)'});
            $('#stripe-payment-form input[name="subscription"]').first().val('yearly');
            e.preventDefault();
        });
        $('#stripe-monthly').click(function(e) {
            handler.open({amount: 5000, description: 'Monthly ($50 billed monthly)'});
            $('#stripe-payment-form input[name="subscription"]').first().val('monthly');
            e.preventDefault();
        });
    });
{% endif %}
</script>
{% endblock %}
