{% extends 'base.html' %}

{% block 'title' %}Freelance Finder - Welcome{% endblock %}

{% block 'content' %}


<div class="jumbotron">
    <h1>Welcome to Freelance Finder!</h1>
    <h5>Filtering the freelance web, so you don't have to.</h5> 
</div>

<div class="container">
    <p>
    Hi.  I'm Paul Moss.  I'm a freelancer.  This site is my tool to find more
    freelance work when my clients don't have anything to work on.  It can be
    your tool too.
    <p>
    My problem is that there are tons of freelance/job sites on the internet.
    Most of them are full of full time positions with a few freelance roles
    mixed in.  Some of them are full of people looking to build the next 
    {% templatetag openvariable %} BIG_FAMOUS_SITE {% templatetag closevariable %}
    with a budget of $200.  Mixed in with all of that are a few reasonable
    businesses looking to hire freelance workers.  I sort through all of that
    to find the postings that seem worthwhile.
    </p>
    <p>
    <span class="logo">Freelance Finder</span> aggregates information from tons
    of sites on the internet and then deletes nearly all of it.  Full time
    jobs: deleted.  Junk posts: deleted.  Unreasonable budgets: deleted.  All
    of the junk is deleted and only the quality listings remain.
    </p>
    <p>
    Even with a network of clients, you still need to do a lot of legwork to
    keep the pipeline of new jobs filled.  If you're busy with clients or a
    digital nomad busy traveling, you don't have to spend time searching for
    your next lead.  Instead of sifting through stale or low quality postings
    to find your next client, save time job hunting every day and simply use
    <span class="logo">Freelance Finder</span>.
    </p>
    <p>
    I aggregate from as many job sites as we can find, but also from twitter,
    google results, emails we get, everything.  My goal is to find the best
    freelance jobs available.
    </p>
    <p>
    I'm making this site available to you because I can only do so many jobs
    and I don't have skills in every programming language on the planet, but
    those other posts are still aggregated anyway, and hopefully the work I've
    done can benefit you.
    </p>
    <ul class="pricing_plan">
        <li>Semi-annually - $50 / Month: <a class="btn btn-primary" href="https://stripe.com/">Sign up</a>.</li>
        <li>Quarterly - $50 / Month: <a class="btn btn-primary" href="https://stripe.com/">Sign up</a>.</li>
        <li>Monthly - $50 / Month: <a class="btn btn-primary" href="https://stripe.com/">Sign up</a>.</li>
        <li>One Month - $50 / Month: <a class="btn btn-primary" href="https://stripe.com/">Sign up</a>.</li>
    </ul>
</div>

{% endblock %}
