{% extends 'base.html' %}
{% load markdown_filter %}
{% load tz %}

{% block 'title' %}{{ freelancer.title }}{% endblock %}

{% block 'content' %}

<h1>{{ freelancer.title }}</h1>
<small>Created: {{ freelancer.created|localtime }} - Updated: {{ freelancer.modified|localtime }}</small>
<p>Tags: 
{% for tag in freelancer.tags.all %}
    {% if tag.name != 'freelancer' %}
        <span class="tag badge badge-default">{{ tag.name }}</span>
    {% endif %}
{% endfor %}
</p>

{{ freelancer.description|markdown }}

<h5>Source Posts</h5>
<ul>
    {% for post in freelancer.posts.all %}
    <li><a target="_blank" href="{{ post.url }}">{{ post.source.name }}{% if post.subarea %} &gt; {{ post.subarea }}{% endif %}</a> - {{ post.created|localtime }}</li>
    {% endfor %}
</ul>

{% endblock %}
