{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_filter %}
{% load querystring %}
{% load tz %}

{% block 'title' %}Freelance Finder - Post List{% endblock %}

{% block 'content' %}

<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major"><span id="opportunity-count">{{ post_list|length }}</span> Posts</h1>
        <div class='searchform'>
            {% crispy form %}
        </div>

        {% if source_facets %}
            <div class="facets">
                Sources:
                <ul class="actions">
                    {% for facet in source_facets %}
                        <li>
                            <a href="?{% querystring request source=facet.source__code %}" class="button small {% if request.GET.source == facet.source__code %}special{% endif %}">
                                {{ facet.source__name }}
                                <span class="badge alt" id="facet-{{ facet.source__code }}-count">
                                    {{ facet.total }}
                                </span>
                            </a>
                        </li>
                        {% if request.GET.source == facet.source__code %}
                            <li>
                                <a href="?{% querystring request source='' %}" class="button small">
                                    Full Results
                                    <span class="badge alt">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% include 'helpers/pagination.html' %}

        {% if post_list %}
            <ul class="alt features">
            {% for post in post_list %}
                <li id="post-{{ post.id }}" class="post 12u">
                    <article>
                        <div class="box fit">
                            <div class="row first-row">
                                <div class="3u 12u$(small)">
                                    <form class="row-dismiss-form" action="{% url 'post-action' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <input type="hidden" name="break" value="true">
                                        <input type="hidden" name="next" value="{% url 'post-list' %}?{% querystring request %}" />
                                        <button type="submit" class="button row-accept" name="accept"><i class="fa fa-check">Accept</i></button>
                                        <button type="submit" class="button special row-dismiss" name="dismiss"><i class="fa fa-times">Dismiss</i></button>
                                    </form>
                                </div>
                                <div class="9u$ 12u$(small)">
                                    {% if post.description %}
                                    <div class="row description-toggle" data-target="#postdesc-{{ post.id }}">
                                    {% else %}
                                    <div class="row">
                                    {% endif %}
                                        <h5 class="major 6u 9u$(medium)">{{ post.title }}</h5>
                                        <div class="align-right 6u$ 12u$(medium)"><small>{{ post.created|localtime }}</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row">
                                <div class="6u 12u$(medium)">
                                    <a target="_blank" href="{{ post.url }}" class="button special sourcelink-{{ post.source.code }}">{{ post.source.name }} > {{ post.subarea }}</a> - {{ post.unique }}
                                </div>
                                <div class="6u 12u$(medium)">
                                    {% for tag in post.tags.all %}
                                        {% if tag.name != 'post' %}
                                            <span class="tag encircle">{{ tag.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% if post.description %}
                            <div class="row">
                                <div class="postdesc" id="postdesc-{{ post.id }}" style="display: none;">
                                    <blockquote>
                                    {{ post.description|markdown }}
                                    </blockquote>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </article>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h3 class="align-center">Congratulations!  You're done for the day.</h3>
        {% endif %}

        {% include 'helpers/pagination.html' %}
        </div>
    </div>
</section>

{% endblock %}

{% block 'extrascripts' %}
    <script>
        function row_removed(source_code, date) {
            // TODO(Paul): Technically there may be many calls to this, one per
            // source in the row.
            // Decrement facet
            var facet = $('#facet-' + source_code + '-count');
            facet.html(parseInt(facet.text()) - 1);

            // Decrement header
            var title_count = $('#opportunity-count');
            title_count.html(parseInt(title_count.text()) - 1);

            // If we've got no more, display congratulations.
            if (parseInt(title_count.text()) === 0) {
                $("ul.features").replaceWith("<h3 class='align-center'>Congratulations!  You're done for the day.</h3>");
            }
        }

        $(document).ready(function(){
            $('.description-toggle').click(function() {
                var $this = $(this);
                var $collapse_section = $($this.data('target'));
                $collapse_section.toggle('blind');
            });
            $(".row-dismiss-form button[type=submit]").on("click", function() {
                // Set the 'break' field to 'accept' or 'dismiss' based on
                // which button was clicked.
                var $this = $(this);
                $this.prop('disabled', true);
                var $form = $this.parents("form");
                $("input[name=break]", $form).attr("name", $(this).attr("name"));
                $form.submit();
            });
            $('.row-dismiss-form').on('submit', function(e) {
                e.preventDefault();
                var $form = $(e.target);
                var $form_fields = $form.serialize();
                var $post_id = $("input[name='post_id']", $form).val();
                var $whole_row = $("#post-" + $post_id);
                $("a[class^='sourcelink-']", $whole_row).each(function(elm) {
                    var cname = $(this).attr('class');
                    var source_code = cname.split('-')[1];
                    row_removed(source_code, "2017-05-01");
                });
                $whole_row.hide();
                $.ajax({
                    url: $form.attr("action"),
                    type: "POST",
                    data: $form_fields,
                    success: function(result) {
                        $whole_row.remove();
                    }
                });
            });
        }); 
    </script>
{% endblock %}
