{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_filter %}
{% load tz %}

{% block 'title' %}Freelance Finder - Post List{% endblock %}

{% block 'content' %}

<h1>Post List</h1>
<div class='searchform'>
    {% crispy form %}
</div>
{% include 'helpers/pagination.html' %}
<ul class="list-group">
{% for post in post_list %}
    <li id="post-{{ post.id }}" class="d-flex list-group-item flex-column align-items-start post">
        {% if post.description %}
        <a href="#" data-toggle="collapse" data-target="#postdesc-{{ post.id }}" class="list-group-item-action" id="postinfo-{{ post.id }}">
        {% endif %}
            <div class="d-flex flex-row w-100 justify-content-between">
                <h5>{{ post.title }}</h5>
                <small>{{ post.created|localtime }}</small>
            </div>
        {% if post.description %}
        </a>
        {% endif %}
        <div class="d-flex flex-row w-100 justify-content-between">
            <span>
                <a target="_blank" href="{{ post.url }}">{{ post.source.name }} > {{ post.subarea }}</a> - {{ post.unique }}
            </span>
            <span>
                <button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>
                <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></button>
            </span>
            <span>
                {% if post.is_freelance %}
                    Freelance
                {% endif %}
                {% if post.is_job_posting %}
                    &nbsp;
                    Job Posting
                {% endif %}
                {% if post.is_freelancer %}
                    &nbsp;
                    Freelancer
                {% endif %}
            </span>
        </div>
        {% if post.description %}
        <div class="d-flex flex-row w-100">
            <div class="collapse postdesc rounded p-2" id="postdesc-{{ post.id }}">
                {{ post.description|markdown }}
            </div>
        </div>
        {% endif %}
    </li> 
{% endfor %}
</ul>
{% include 'helpers/pagination.html' %}

{% endblock %}
