{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_filter %}
{% load querystring %}
{% load tz %}

{% block 'title' %}Freelance Finder - Post List{% endblock %}

{% block 'content' %}

<h1>Post List</h1>
<div class='searchform'>
    {% crispy form %}
</div>
{% if source_facets %}
<div class="facets p-2">
    Sources:
    {% for facet in source_facets %}
    <a href="?{% querystring request source=facet.source__code %}" class="btn btn-outline-info {% if request.GET.source == facet.source__code %}active{% endif %}">
        {{ facet.source__name }}
        <span class="badge badge-default" id="facet-{{ facet.source__code }}-count">
            {{ facet.total }}
        </span>
    </a>
    {% if request.GET.source == facet.source__code %}
        <a href="?{% querystring request source='' %}" class="btn btn-outline-danger">
            Full Results
            <span class="badge badge-default">
                <i class="fa fa-times"></i>
            </span>
        </a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<div class="jscroll">
{% include 'helpers/pagination.html' %}

<ul class="list-group">
{% for post in post_list %}
    <li id="post-{{ post.id }}" class="d-flex list-group-item flex-column align-items-start post">
        <div class="d-flex flex-row w-100 justify-content-start">
            <form class="row-dismiss-form" action="{% url 'post-action' %}" method="POST">
                <div class="d-flex align-items-center pr-2 control-button">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="break" value="true">
                    <input type="hidden" name="next" value="{% url 'post-list' %}?{% querystring request %}" />
                    <button type="submit" class="btn btn-success btn-circle btn-lg row-accept" name="accept"><i class="fa fa-check"></i></button>
                    <button type="submit" class="btn btn-danger btn-circle btn-lg row-dismiss" name="dismiss"><i class="fa fa-times"></i></button>
                </div>
            </form>
            <div class="d-flex w-100 flex-column">
                {% if post.description %}
                <a href="#" data-toggle="collapse" data-target="#postdesc-{{ post.id }}" class="list-group-item-action" id="postinfo-{{ post.id }}">
                {% endif %}
                    <div class="d-flex flex-row w-100 justify-content-between">
                        <h5>{{ post.title }}</h5>
                        <small>{{ post.created|localtime }}</small>
                    </div>
                {% if post.description %}
                </a>
                {% endif %}
                <div class="d-flex flex-row w-100 justify-content-between">
                    <span>
                        <a target="_blank" href="{{ post.url }}" class="sourcelink-{{ post.source.code }}">{{ post.source.name }} > {{ post.subarea }}</a> - {{ post.unique }}
                    </span>
                    <span class="tag-list p-2 ml-auto">
                        {% for tag in post.tags.all %}
                            {% if tag.name != 'post' %}
                                <span class="tag badge badge-default">{{ tag.name }}</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
        {% if post.description %}
        <div class="d-flex flex-row w-100">
            <div class="collapse postdesc rounded p-2" id="postdesc-{{ post.id }}">
                {{ post.description|markdown }}
            </div>
        </div>
        {% endif %}
    </li> 
{% endfor %}
</ul>
{% include 'helpers/pagination.html' %}
</div>

{% endblock %}

{% block 'scripts' %}
    <script>
        $(document).ready(function(){
            // Enable infinite scroll
            $(".jscroll").jscroll({
                debug: true,
                padding: 20,
                nextSelector: ".pagination a.next:last",
                contentSelector: ".list-group li",
                pagingSelector: ".pagination",
            });
            $(".row-dismiss-form button[type=submit]").on("click", function() {
                // Set the 'break' field to 'accept' or 'dismiss' based on
                // which button was clicked.
                var $form = $(this).parents("form");
                $("input[name=break]", $form).attr("name", $(this).attr("name"));
                $form.submit();
            });
            $('.row-dismiss-form').on('submit', function(e) {
                e.preventDefault();
                var $form = $(e.target);
                var $form_fields = $form.serialize();
                var $post_id = $("input[name='post_id']", $form).val();
                var $whole_row = $("#post-" + $post_id);
                $("a[class^='sourcelink-']", $whole_row).each(function(elm) {
                    var cname = $(this).attr('class');
                    var source_code = cname.split('-')[1];
                    var facet = $('#facet-' + source_code + '-count');
                    facet.html(parseInt(facet.text()) -1);
                });
                $whole_row.remove();
                $.ajax({
                    url: $form.attr("action"),
                    type: "POST",
                    data: $form_fields,
                    success: function(result) {
                        // alert("Successfully submitted: " + $form_fields);
                    }
                });
            });
        }); 
    </script>
{% endblock %}
