{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_filter %}
{% load querystring %}
{% load tz %}

{% block 'title' %}Freelance Finder - My Opportunities{% endblock %}

{% block 'content' %}

<h1 class="text-center"><span id="opportunity-count">{{ userjob_list|length }}</span> Opportunit{% if userjob_list|length == 1 %}y{% else %}ies{% endif %} - {{ curdate }}</h1>
<div class='searchform'>
    {% crispy form %}
</div>
{% if source_facets %}
<div class="facets p-2">
    Sources:
    {% for facet in source_facets %}
    <a href="?{% querystring request source=facet.job__posts__source__code %}" class="btn btn-outline-info {% if request.GET.source == facet.job__posts__source__code %}active{% endif %}">
        {{ facet.job__posts__source__name }}
        <span class="badge badge-default" id="facet-{{ facet.job__posts__source__code }}-count">
            {{ facet.total }}
        </span>
    </a>
    {% if request.GET.source == facet.job__posts__source__code %}
        <a href="?{% querystring request source='' %}" class="btn btn-outline-danger">
            Full Results
            <span class="badge badge-default">
                <i class="fa fa-times"></i>
            </span>
        </a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if date_facets %}
<div class="facets p-2">
    Dates:
    {% for facet in date_facets %}
    <a href="{% url 'userjob-list' date=facet.created_date|date:"Y-m-d" %}?{% querystring request %}" class="btn btn-outline-warning {% if curdate == facet.created_date|date:'Y-m-d' %}active{% endif %}">
        {{ facet.created_date|date:"Y-m-d" }}
        <span class="badge badge-default" id="facet-{{ facet.created_date|date:"Y-m-d" }}-count">
            {{ facet.total }}
        </span>
    </a>
    {% endfor %}
</div>
{% endif %}

{% include 'helpers/pagination.html' %}

{% if userjob_list %}
    <ul class="list-group">
    {% for userjob in userjob_list %}
    <li id="job-{{ userjob.id }}" class="d-flex list-group-item flex-column align-items-start job">
        <div class="d-flex flex-row w-100 justify-content-start">
            <form class="row-dismiss-form" action="{% url 'userjob-action' %}" method="POST">
                <div class="d-flex align-items-center pr-2 control-button">
                    {% csrf_token %}
                    <input type="hidden" name="userjob_id" value="{{ userjob.id }}">
                    <input type="hidden" name="next" value="{% url 'userjob-list' %}?{% querystring request %}" />
                    <button type="submit" class="btn btn-danger btn-circle btn-lg row-dismiss" name="dismiss"><i class="fa fa-times"></i></button>
                </div>
            </form>
            <div class="d-flex w-100 flex-column">
                {% if userjob.job.description %}
                    <a href="#" data-toggle="collapse" data-target="#jobdesc-{{ userjob.id }}" class="list-group-item-action">
                {% endif %}
                    <div class="d-flex flex-row w-100 justify-content-between">
                        <h5>{{ userjob.job.title }}</h5>
                        <small>{{ userjob.job.created|localtime }}</small>
                    </div>
                {% if userjob.job.description %}
                    </a>
                {% endif %}
                <div class="d-flex flex-row w-100 justify-content-start">
                    <span class="p-2">
                        <a href="{% url 'job-detail' userjob.job.id %}">Detail</a>
                    </span>
                    <span class="source-info p-2">
                        {% for post in userjob.job.posts.all %}
                            <a href="{{ post.url }}" target="_blank" class="sourcelink-{{ post.source.code }}">{{ post.source.name }} &gt; {{ post.subarea }}</a>
                        {% endfor %}
                    </span>
                    <span class="tag-list p-2 ml-auto">
                        {% for tag in userjob.job.tags.all %}
                            {% if tag.name != 'job' %}
                                <span class="tag badge badge-default">{{ tag.name }}</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
        {% if userjob.job.description %}
        <div class="d-flex flex-row w-100">
            <div class="collapse jobdesc rounded p-2" id="jobdesc-{{ userjob.id }}">
                {{ userjob.job.description|markdown }}
            </div>
        </div>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
{% else %}
    <h3 class="text-center">Congratulations!  You're done until {{ my_next_run|localtime }}.</h3>
{% endif %}

{% include 'helpers/pagination.html' %}

{% endblock %}

{% block 'scripts' %}
    <script>
        function row_removed(source_code, date) {
            // TODO(Paul): Technically there may be many calls to this, one per
            // source in the row.
            // Decrement source facet
            var facet = $('#facet-' + source_code + '-count');
            facet.html(parseInt(facet.text()) - 1);

            // Decrement date facet
            var facet_date = $('#facet-' + date + '-count');
            facet_date.html(parseInt(facet_date.text()) - 1);

            // Decrement header
            var title_count = $('#opportunity-count');
            title_count.html(parseInt(title_count.text()) - 1);

            // If we've got no more, display congratulations.
            if (parseInt(title_count.text()) === 0) {
                $("ul.list-group").replaceWith("<h3 class='text-center'>Congratulations!  You're done until {{ my_next_run|localtime }}.</h3>");
            }
        }
        $(document).ready(function(){
            $('.row-dismiss-form').on('submit', function(e) {
                e.preventDefault();
                var $form = $(e.target);
                // Add the 'dismiss' field from the button
                $form.append('<input type="hidden" name="dismiss" value="true" />');
                var $form_fields = $form.serialize();
                var $userjob_id = $("input[name='userjob_id']", $form).val();
                var $whole_row = $("#job-" + $userjob_id);
                $("a[class^='sourcelink-']", $whole_row).each(function(elm) {
                    var cname = $(this).attr('class');
                    var source_code = cname.split('-')[1];
                    row_removed(source_code, "{{ curdate }}");
                });
                $whole_row.hide();
                $.ajax({
                    url: $form.attr("action"),
                    type: "POST",
                    data: $form_fields,
                    success: function(result) {
                        $whole_row.remove();
                    }
                });
            });
        }); 
    </script>
{% endblock %}
