{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_filter %}
{% load querystring %}
{% load tz %}

{% block 'title' %}Freelance Finder - My Opportunities{% endblock %}

{% block 'content' %}

<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major"><span id="opportunity-count">{{ userjob_list|length }}</span> Opportunit{% if userjob_list|length == 1 %}y{% else %}ies{% endif %} - {{ curdate }}</h1>
        <div class="minor">
            <button id="filters-button" type="button" class="small" data-toggle="collapse" data-target="#searchform">
                <span class="fa fa-cogs"></span> <span id="filters-text" data-state="show">Show Filters</span>
            </button>
            <div class='searchform' id="searchform" style="display: none;">
                {% crispy form %}
            </div>
        </div>
        {% if source_facets %}
        <div class="facets">
            Sources:
            <ul class="actions">
                {% for facet in source_facets %}
                <li>
                    <a href="?{% querystring request source=facet.job__posts__source__code %}" class="button small {% if request.GET.source == facet.job__posts__source__code %}special{% endif %}" data-toggle="tooltip" title="Show only results from {{ facet.job__posts__source__name }}">
                        {{ facet.job__posts__source__name }}
                        <span class="badge alt" id="facet-{{ facet.job__posts__source__code }}-count">
                            {{ facet.total }}
                        </span>
                    </a>
                </li>
                {% if request.GET.source == facet.job__posts__source__code %}
                <li>
                    <a href="?{% querystring request source='' %}" class="button small">
                        Full Results
                        <span class="badge alt">
                            <i class="fa fa-times"></i>
                        </span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if date_facets %}
        <div class="facets">
            Dates:
            <ul class="actions">
                {% for facet in date_facets %}
                <li>
                    <a href="{% url 'userjob-list' date=facet.created_date|date:"Y-m-d" %}?{% querystring request %}" class="button small {% if curdate == facet.created_date|date:'Y-m-d' %}special{% endif %}" data-toggle="tooltip" title="Show only results from {{ facet.created_date|date:"Y-m-d" }}">
                        {{ facet.created_date|date:"Y-m-d" }}
                        <span class="badge alt" id="facet-{{ facet.created_date|date:"Y-m-d" }}-count">
                            {{ facet.total }}
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% include 'helpers/pagination.html' %}

        {% if userjob_list %}
            <ul class="alt features">
            {% for userjob in userjob_list %}
            <li id="job-{{ userjob.id }}" class="job 12u">
                <article>
                    <div class="box fit">
                        <div class="row first-row">
                            <div class="3u 12u$(small)">
                                <form class="row-dismiss-form" action="{% url 'userjob-action' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="userjob_id" value="{{ userjob.id }}">
                                    <input type="hidden" name="next" value="{% url 'userjob-list' %}?{% querystring request %}" />
                                    <button type="submit" class="button special row-dismiss" name="dismiss" data-toggle="tooltip" data-placement="right" title="Delete this job from your list"><i class="fa fa-times">Dismiss</i></button>
                                </form>
                            </div>
                            <div class="9u$ 12u$(small)">
                                {% if userjob.job.description %}
                                <div class="row description-toggle" data-target="#jobdesc-{{ userjob.id }}">
                                {% else %}
                                <div class="row">
                                {% endif %}
                                    <h5 class="major 6u 9u$(medium)">{{ userjob.job.title }}
                                        {% if userjob.job.description %}
                                            [+]
                                        {% endif %}
                                    </h5>
                                    <div class="align-right 6u$ 12u$(medium)"><small>{{ userjob.job.created|localtime }}</small></div>
                                </div>
                            </div>
                        </div>
                        <div class="row second-row">
                            <div class="4u 12u$(medium) align-left tag-list">
                                {% for tag in userjob.job.tags.all %}
                                    {% if tag.name != 'job' %}
                                        <span class="tag encircle">{{ tag.name }}</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="4u 6u(medium) 12u$(small)">
                                <button class="button description-toggle" data-target="#jobdesc-{{ userjob.id }}">Show Description [+]</button>
                            </div>
                            <div class="4u$ 6u$(medium) 12u$(small)">
                                {% for post in userjob.job.posts.all %}
                                    <a href="{{ post.url }}" target="_blank" class="button special sourcelink-{{ post.source.code }}" data-toggle="tooltip" title="Go To Source Site To Apply">Apply on {{ post.source.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% if userjob.job.description %}
                        <div class="row">
                            <div class="jobdesc rounded p-2" id="jobdesc-{{ userjob.id }}" style="display: none;">
                                <blockquote>
                                {{ userjob.job.description|markdown }}
                                </blockquote>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </article>
            </li>
            {% endfor %}
            </ul>
        {% else %}
        <div class="align-center">
            <h3>Congratulations!  You're done!</h3>
            <small>Next refresh at {{ my_next_run|localtime }}</small>
        </div>
        {% endif %}

        {% include 'helpers/pagination.html' %}

    </div>
</section>
{% endblock %}

{% block 'extrascripts' %}
    <script>
        function row_removed(source_code, date) {
            // TODO(Paul): Technically there may be many calls to this, one per
            // source in the row.
            // Decrement source facet
            var facet = $('#facet-' + source_code + '-count');
            facet.html(parseInt(facet.text()) - 1);

            // Decrement date facet
            var facet_date = $('#facet-' + date + '-count');
            facet_date.html(parseInt(facet_date.text()) - 1);

            // Decrement header
            var title_count = $('#opportunity-count');
            title_count.html(parseInt(title_count.text()) - 1);

            // If we've got no more, display congratulations.
            if (parseInt(title_count.text()) === 0) {
                $("ul.list-group").replaceWith("<div class='align-center'><h3>Congratulations!  You're done!</h3><small>Next refresh at {{ my_next_run|localtime }}</small></div>");
            }
        }
        $(document).ready(function(){
            $('#filters-button').click(function() {
                var $text_label = $('#filters-text');
                var $collapse_section = $('#searchform');
                if ($text_label.data('state') === 'show') {
                    $text_label.text('Hide Filters');
                    $text_label.data('state', 'hide');
                    $collapse_section.show("blind");
                } else {
                    $text_label.text('Show Filters');
                    $text_label.data('state', 'show');
                    $collapse_section.hide("blind");
                }
            });
            $('.description-toggle').click(function() {
                var $this = $(this);
                var $collapse_section = $($this.data('target'));
                $collapse_section.toggle('blind');
            });
            $('.row-dismiss-form').on('submit', function(e) {
                e.preventDefault();
                var $form = $(e.target);
                // Add the 'dismiss' field from the button
                $form.append('<input type="hidden" name="dismiss" value="true" />');
                var $form_fields = $form.serialize();
                var $userjob_id = $("input[name='userjob_id']", $form).val();
                var $whole_row = $("#job-" + $userjob_id);
                $("a[class^='sourcelink-']", $whole_row).each(function(elm) {
                    var cname = $(this).attr('class');
                    var source_code = cname.split('-')[1];
                    row_removed(source_code, "{{ curdate }}");
                });
                $whole_row.hide();
                $.ajax({
                    url: $form.attr("action"),
                    type: "POST",
                    data: $form_fields,
                    success: function(result) {
                        $whole_row.remove();
                    }
                });
            });
        }); 
    </script>
{% endblock %}
