{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block 'title' %}{% trans "Sign In" %}{% endblock %}

{% block 'login-content' %}
<!-- START: templates/account/login.html -->

    <h1>Log in to your account</h1>

    {% get_providers as socialaccount_providers %}

    <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or"><hr/></div>

    <p class="new-users text-center">
        New Users: <a class="btn btn-info m-2" href="{{ signup_url }}">Sign Up</a>
    </p>

    <div class="signup-or"><hr/></div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
    {% crispy form %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form>
    <a class="button secondaryAction btn btn-outline-warning" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

<!-- END: templates/account/login.html -->
{% endblock %}
