{% extends 'base.html' %}

{% block 'title' %}Freelance Finder - Source List{% endblock %}

{% block 'content' %}

<h1>Source List</h1>
<div class='sources'>
{% for source in source_list %}
    <div id='source-{{ source.id }}'>
        <h5><a target="_blank" href="{{ source.url }}">{{ source.code }} - {{ source.name }}</a></h5>
        <dl>
            {% for config in source.config.all %}
            <dt>{{ config.config_key }}</dd>
            <dd>{{ config.config_value }}</dd>
            {% endfor %}
        </dl>
    </div>
{% endfor %}
</div>

<h4>History:</h4>
<table class="table table-striped table-bordered table-sm">
    {% for history_row in harvest_history %}
        <tr>
            {% for history_column in history_row %}
            <td>{{ history_column }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h4>Debug:</h4>
<div>{{ request.META }}</div>

{% endblock %}
