[MASTER]

load-plugins=pylint_django

disable=C0301,R0901,locally-disabled

ignore=lib,static,templates,migrations,wsgi.py,settings.py,db.sqlite
ignore-patterns=test_*

[MESSAGES CONTROL]
# Disable the message(s) with the given id(s).
# C0301 - Line too long
# R0901 - Too many ancestors
# W0703 - Locally disabled
disable-msg=C0301,R0901,locally-disabled

[BASIC]
# Don't ever report these as bad names
good-names=logger,default_app_config,celery_app

[SIMILARITIES]
# Ignore imports when computing similarities.
ignore-imports=yes

# Only report this if blatant
min-similarity-lines=10

[MISCELLANEOUS]
# Don't show TODOs
notes=FIXME,XXX
