{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tz %}

{% block 'title' %}Freelance Finder - Profile for {{ user }}{% endblock %}

{% block 'pagebanner' %}
<section id="banner">
    <div class="inner">
        <h2>Profile for {{ user }}</h2>
        <p>Estimated next run time: {{ my_next_run|localtime }}</p>
    </div>
</section>
{{ block.super }}
{% endblock %}

{% block 'content' %}

<section id="one" class="wrapper">
    <div class="inner">
        <div class="content">
            {% crispy form %}
        </div>
    </div>
</section>

{% endblock %}
