
/* Global */
body {
    color: #E0E0E0;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-family: 'Satisfy', cursive;
}

/* Header */
#header-logo {
    float: left;
}

#header-account {
    float: right;
}
