
/* Global */
body {
    background-color: #000000;
    color: #E0E0E0;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: #667C3E;
    font-family: 'Satisfy', cursive;
}

/* Header */
#header-logo {
    color: #667C3E;
    float: left;
    font-family: 'Satisfy', cursive;
    font-size: 150%;
}

#header-account {
    float: right;
}
