
/* Basic setup */
header, footer, aside, nav, article {
    display: block;
}

/* Global */
body {
    color: #FFFFFF;
    background-color: #000000;
}

/* Header */
#header-account {
    float: right;
}
